.room h1 {
  color: #434343;

  font-size: 4em;
  font-weight: 900;
  line-height: 0.4em;
}

.room h2 {
  color: #434343;
  font-size: 2em;
  font-weight: 200;
  line-height: 0.4em;
}

.room p {
  color: #434343;
  font-size: 4em;
  font-weight: 900;
  line-height: 0.4em;
}

.room .send-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

/* .room .back-image {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
} */

.room .back-image img {
  width: 30px;
  height: auto;
}

/* .room .send-image {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
} */

.room .send-image img {
  width: 30px;
  height: auto;
  transform: rotate(180deg);
}

.room .empty {
  height: 2em;
}

.room .button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.room button {
  color: #434343;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 2.2rem;
  border: none;
  background: none;
  letter-spacing: 0.1em;
  transition: 0.3s;
}

.room button:hover {
  text-decoration: underline;
}
